{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apprendre les langues</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/duolingo.css' %}">
</head>

<body>
    <div class="app-header"
        style="background: #202F36; padding: 10px 20px; display: flex; align-items: center; border-bottom: 2px solid #37464f; margin-bottom: 20px;">
        <a href="{% url 'home' %}"
            style="text-decoration: none; color: white; font-weight: bold; font-size: 1.2rem; display: flex; align-items: center; gap: 10px;">
            <span>🎓 Apprendre les langues</span>
        </a>
    </div>

    <div class="app-container">
        {% block content %}
        {% endblock %}
    </div>


</body>

</html>